@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    color:hsl(0, 0%, 0%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: hsl(0, 0%, 100%);
    margin: 0;
}

a:hover {
    font-style: italic;
}

h1 {
    text-align: center;
}

img:hover {
    opacity: 0.7;
}

#navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color:darkolivegreen;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 1.5em;
    text-align: center;
    padding: 0.5em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 100;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px 10px;    
}

#navbar a {
    color: wheat;
    text-decoration: none;
}

#welcome-section {
    top: 0;
    height: 100vh;
    background: hsl(37, 43%, 73%);
}

#welcome-section h1 {
    padding-top: 40vh;
}

#welcome-section p {
    margin-top: -1em;
}

#info-section {
    margin-top: -20px;
    background: rgb(216,208,157);
    padding: 2.5em 3% 2em 3%;
    text-align: justify;
}

#projects {
    padding: 2.5em 3% 4em 3%;
    background: rgb(216, 178, 157);
}

#projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
}

.project-tile {
    justify-self: center;
    align-self: center;
}

#projects figure {
    border-radius: 10px;
    width: 400px;
    background: hsl(37, 43%, 73%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#projects a {
    text-decoration: none;
    color: black;
}

#projects figcaption {
    font-size: 20px;
}

#contact-section {
    background: hsl(37, 43%, 73%);
    padding: 1em 3% 5em 3%;
    text-align: center;
}

#contact-section p {
    margin-top: -1em;
}

#contact-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-gap: 10px 10px;
}

#contact-tile {
    justify-self: center;
    align-self: center;
}

#footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color:darkolivegreen;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#footer a {
    color: wheat;
    text-decoration: underline;
}

@media (max-width: 1100px) {
    #projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px 10px;
    }
}
