/*
    This could be done shorter with better positioning of the different styles
    For instance #main is both in main CSS and two media queries.
    That could probably be reduced to just one main CSS and one media query
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    color:hsl(0, 0%, 0%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: hsl(0, 0%, 100%);
}

@media (max-width: 1280px) {
    #main {
        margin: -10px 0 0 240px;
        text-align: justify;
    }

    #navbar {
        position: fixed;
        top: 30px;
        left: -10000px;
        width: 200px;
        text-align: left;
        /* Follow two lines disables scrolling */
        height: 100%;
        overflow: hidden;
    }

    #navbar #header {
        position: fixed;
        top: 0px;
        width: 100%;
        text-align: center;
        background-color:hsl(0, 0%, 100%);
    }

    #navbar li {
        position: fixed;
        left: -10000px;
    }
}

#navbar {
    position: fixed;
    top: 30px;
    left: -20px;
    height: 100%;
    width: 250px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    padding: 20px;
}

#navbar #header {
    font-size: 22px;
    border-bottom: 3px solid #AAA;
    text-align: center;
}

#navbar li {
        margin-top: 5px;
        list-style: none;
        margin-left: -20px;
        font-size: 14px;
}

#navbar a {
    text-decoration: none;
}

a {
    color: hsl(0, 0%, 0%);
}

a:hover {
    color: hsl(224, 100%, 25%);
    font-style: italic;
  }

a:visited {
    color: hsl(0, 0%, 0%);
}

#main {
    padding: 15px;
    padding-bottom: 50px;
    margin: 10px;
}

#main-doc #header {
    font-size: 22px;
}

@media (min-width: 1281px) {
    #main {
    margin: -10px 0 0 240px;
    text-align: justify;
    border-left: 3px solid #AAA;
    }
}

/* rewrite this */
code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    display:block;
      text-align: left;
    white-space: pre;
    position: relative;
      word-break: normal;
      word-wrap: normal;
      background-color:#f7f7f7;
    padding:5px;
    margin: 10px 0 10px 20px;
      border-radius:5px;
    z-index: -1;
  }

#footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color:darkolivegreen;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0 -500px 0 -500px;
    padding: 0 500px 0 500px;
    text-align: center;
}

#footer a {
    color: wheat;
    text-decoration: underline;
}
